<% include partials/header%>
<script type="text/javascript">
  var geocoder;
  var map;
  var address ="<%=currentUser.city%>, <%=currentUser.postcode%>, <%=currentUser.country%>";
  function initialize() {
    geocoder = new google.maps.Geocoder();
    var latlng = new google.maps.LatLng(-34.397, 150.644);
    var myOptions = {
      zoom: 16,
      center: latlng,
    mapTypeControl: true,
    mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU},
    navigationControl: true,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
    };
    map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
    if (geocoder) {
      geocoder.geocode( { 'address': address}, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          if (status != google.maps.GeocoderStatus.ZERO_RESULTS) {
          map.setCenter(results[0].geometry.location);

            var infowindow = new google.maps.InfoWindow(
                { content: '<b>'+address+'</b>',
                  size: new google.maps.Size(150,50)
                });

            var marker = new google.maps.Marker({
                position: results[0].geometry.location,
                map: map, 
                title:address
            }); 
            google.maps.event.addListener(marker, 'click', function() {
                infowindow.open(map,marker);
            });

          } else {
            alert("No results found");
          }
        } else {
          alert("Geocode was not successful for the following reason: " + status);
        }
      });
    }
  }
</script>
<div class="container" style="margin-top:80px;width:100%;height:400px;">
    <div class="row" style="padding:10px;">
        
        <% var typeOfBlood; %>
            <% if((currentUser.bloodType).slice(0,3) == "A+ "){%>
            
            <% typeOfBlood = "apos"; %>
            
            <% } else if((currentUser.bloodType).slice(0,3) == "B+ "){%>
            
            <% typeOfBlood = "bpos"; %>
            
            <% } else if((currentUser.bloodType).slice(0,3) == "AB+"){ %>
    
            <% typeOfBlood = "abpos"; %>
            
            <% } else if((currentUser.bloodType).slice(0,3) == "O+ "){ %>
            
            <% typeOfBlood = "opos"; %>
            
            <% }else if((currentUser.bloodType).slice(0,3) == "A- "){ %>
            
            <% typeOfBlood = "aneg"; %>
        
            <% }else if((currentUser.bloodType).slice(0,3) == "B- "){%>
            
            <% typeOfBlood = "bneg"; %>
            
            <% }else if((currentUser.bloodType).slice(0,3) == "O- "){%>
            
            <% typeOfBlood = "oneg"; %>
            
            <% }else{ %>
            
            <% typeOfBlood = "abneg"; %>
            
            <% } %>
            
            <% var genderType; %>
            <% if(currentUser.gender == "male"){%>
            
            <% genderType = "manuser"; %>
            
            <% } else if(currentUser.gender == "female"){%>
            
            <% genderType = "womanuser"; %>
            
            <% } %>

        <div class="col-md-10 col-md-offset-1 profile_tab">
        <div class="col-md-2" style="margin-top:20px;">

            <!--User profile image (set to default image that can be replaced by uploading a new image)-->
            <image src="images/<%=currentUser.gender%>.png" style="height:150px; width:150px; border-radius:20px;display:block;margin:0 auto;">
            <a href="#">Change Profile image</a>    
                
            <!--Username-->
            <h6 class="redicon">@<%= currentUser.username%></h6>
            
            <!--Buttons-->
            <!--Send request button-->
            <!--<button type="button" class="btn btn-primary profilebtn1 requestFriend"><i class="fa fa-plus" aria-hidden="true"></i> Send Request</button>-->
            
            
            <!--Friends buttton that allow to Unfriend while hovering over-->
            <!--<button type="button" class="btn btn-primary profilebtn1 friend"><i class="fa fa-check" aria-hidden="true"></i> Friend</button>-->
            
            <!--Report user button-->
  
            <form action="/report/<%=currentUser.username%>" method="GET">
             <button type="submit" class="btn btn-danger"><i class="fa fa-flag"></i> Report</button>
            </form>
            <!--<a href="/report/<%=currentUser.username%>"> -->
            <!--<button type="button" value="submit" class="btn btn-primary profilebtn1 reportUser"><i class="fa fa-flag-o" aria-hidden="true"></i> Report User</button></a>-->
    
            
        </div>

    
        <%    var genderType;%>
        <% if(currentUser.gender == "womanuser"){%>
        
         <%   genderType = "Female"; %>
        
        <% }else{ %>
        
        <%     genderType = "Male"; %>
        
       <% } %>       
        
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 style="background:#b33939;color:white;padding:10px;width:auto; height:auto;border:1px solid #aaa69d; border-radius:20px;text-align:center;"><%= currentUser.firstName.toUpperCase()%> <%= currentUser.lastName.toUpperCase()%></h2>
                    
                    <hr>
                     <h4><i class="fa fa-calendar redicon" aria-hidden="true"></i> Date of Birth: <span style="font-weight:700;"> <%= currentUser.dob.toDateString() %></span></h4>
                     <h4><i class="fa fa-venus-mars redicon" aria-hidden="true"></i> Gender: <span style="font-weight:700;"> <%=genderType%></span></h4>
                     <h4><i class="fa fa-heartbeat redicon" aria-hidden="true"></i> Blood Type: <span style="font-weight:700;"> <%= currentUser.bloodType %></span></h4>
                     <h4><i class="fa fa-clock-o redicon" aria-hidden="true"></i> Last Donation Date: <span style="font-weight:700;"> 16 Jan 2017</span></h4>
                     <hr>
                     <div class="row">
                         <div class="col-md-4">
                             <image src="images/trophy.png" style="height:50px; width:50px;display:block;margin:0 auto;">
                         </div>
                         
                         <div class="col-md-4">
                             <image src="images/blood<%=typeOfBlood%>.png" style="height:50px; width:50px;display:block;margin: 0 auto;" alt="Blood B Positive">
                         </div>
                         <div class="col-md-4">
                             <image src="images/quality.png" style="height:50px; width:50px;display:block;margin:0 auto;">
                         </div>
                     </div>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="height:160px;padding:20px;">
            <h4><i class="fa fa-map-marker redicon" aria-hidden="true"></i> Location: <span style="font-weight:700;"><%=currentUser.city%>, <%=currentUser.postcode%>, <%=currentUser.country%></span></h4>
            <div id="map_canvas" style="width:100%; height:200px"></div>
            <div class="row">
                <div class="col-md-6">
                   <button class="btn btn-primary btn-email" style="display:block;">
                       <i class="fa fa-envelope" aria-hidden="true"></i>
                   <a href="mailto:<%=currentUser.email%>" style="color:white;text-decoration:none;"> Send Email</a></button>   
                </div>
                <div class="col-md-6">
                   <button class="btn btn-primary btn-phone">
                       <i class="fa fa-phone" aria-hidden="true"></i>
                   <a href="callTo:<%=currentUser.phoneNumber%>" style="color:white;text-decoration:none;">Call Phone</button></a>
                </div>
            </div>
        </div>
       </div>
    </div>
    <div class="row" style="color:white;background:#b33939;margin-top:60px;">
      <div class="col-md-10 col-md-offset-1">
         <div class="row">

             <div class="col-md-6 col-md-offset-3" style="text-align:center;background: #232526;;padding:15px;border-right:20px solid #232526; border-bottom-left-radius:150px;border-bottom-right-radius:150px;">
                 <div class="row" style="height:30px;width:100%;color:white;line-height:30px;text-align:center;font-size:24px;">
        
                   <i class="fa fa-heart" style="color:#ff5252" aria-hidden="true"></i> Donations
                 
             </div> 
           </div>
         </div>
         
         <div class="row">
            <!--History-->
             <div class="col-md-6">
                 <h3>History</h3>
                    <div class="list-group">
                      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                        <div class="d-flex w-100 justify-content-between">
                          <small>24 Jan 2018</small>    
                          <h5 class="mb-1">Donated Blood to</h5>
                        </div>
                        <h4 class="mb-1">Mr Name Surname</h4>
                      </a>
                      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <small>24 Jan 2018</small>    
                          <h5 class="mb-1">Donated Blood to</h5>
                        </div>
                        <h4 class="mb-1">Mr Name Surname</h4>
                      </a>
                      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                          <small>24 Jan 2018</small>    
                          <h5 class="mb-1">Donated Blood to</h5>
                        </div>
                        <h4 class="mb-1">Mr Name Surname</h4>
                      </a>
                    </div>
                 
             </div>
             <!--End of history-->
             
             <!--Add new data-->
             <div class="col-md-6" style="text-align:center;">
                 <h3>Add new entry</h3>
                 <hr style="width:50%;margin: 0 auto; display:block;margin-bottom:20px;">
                 <div class="row">
                     <div class="col-md-8 col-md-offset-2" style="text-align:center;">
                          <form action="" method="">
                
                I have  
                <br><select class="form-control" name="donationType"  id="donationType" style="color:black;margin:2px !important;">
                        <option value="donated">donated blood to</option>
                        <option value="received">received blood from</option>
                        
                    </select> 
                    
                    <input name="donationName" class="form-control" style="border-radius:5px;margin:2px !important;" type="text" placeholder="full name of the person">
                   <input type="date"  class="form-control" name="dob" style="color:black;margin:2px !important;" id="exampleInputDOB1" placeholder="Date">
                  <button type="submit" class="login" style="background:#232526 !important;width:100%;margin-top:10px;border-radius:10px;">Add Entry</button>
                     
                 </form> <!--End of form for adding new entry-->
                     </div>
                 </div>
             </div>
             <!--End of add new data-->
         </div>
         
      </div>
    </div>
</div>

<% include partials/footer%>


